<section>
	{% if site.gravatar_email %}
	<meta itemprop="name" content="Michael Tucker">
	<img itemprop="image" src="{% gravatar_image 120 %}" alt="{{ site.author }} " title="{{ site.author }}" />
	{% endif %}
  <h1>This Guy</h1>
  <p>My name is Michael, and I'm a front-end developer. Or a user experience designer. Or a something something design-veloper. Honestly, job titles these days, am I right? Whatever you call me, I've been working on websites professionally since 2001, with a consistent focus on front-end design and development, usability, web standards, and overall user experience. <a href="{{ root_url }}/about.html">But wait, there's more&hellip;</a></p>
</section>
